<section id='about' class='row-auto col'>
  <h2>About Us</h2>
    <p>Reaper Studios was founded in March 2017 by Brian Heller and Nathan Barr.
      Brian and Nathan had served together in the military previously,
      Brian in the Marine Corps and Nathan in the Navy, and deployed to
      Afghanistan in 2010 with the callsign “Reaper.”</p>
    <br>
    <p>After separating from the military, their love for video games helped
      them to keep in touch over the years.  Feeling generally undervalued and
      unchallenged at their respective “day jobs,” Brian and Nathan decided to
      undertake a new adventure.  This new adventure would include ties to the
      online and mobile gaming communities and challenge them to be their best
      for the benefit of the user.  This entity would be titled Reaper Studios
      to embrace their past as they forge a path toward their future.</p>

  <br>
  <br>
  <h2>Our Team</h2>
    <article class='left align-center'>
      <h3>Nathan Barr</h3>
      <%= image_tag("NathanBarr.jpg", :class=>"circular-img") %>
      <h5>Co-Founder & CEO</h5>
      <p class="yellow"><a href="https://www.linkedin.com/in/nathan-barr-03a3634a/"><i class="fab fa-linkedin"></i></a></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p> -->
    </article>
    <article class='center align-center'>
      <h3>Jesse Duncan</h3>
      <%= image_tag("JesseDuncan.jpg", :class=>"circular-img") %>
      <h5>Co-Founder & COO</h5>
      <p class="yellow"><a href="https://www.linkedin.com/in/brian-heller-ab469892/"><i class="fab fa-linkedin"></i></a></p>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p> -->
    </article>
    <article class='right align-center'>
      <h3>Brian Heller</h3>
      <%= image_tag("BrianHeller.jpg", class="circular-img") %>
      <h5>Co-Founder & CTO</h5>
      <p class="yellow"><a href="https://www.linkedin.com/in/brian-heller-ab469892/"><i class="fab fa-linkedin"></i></a></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p> -->
    </article>
    <br>
    <article class='left align-center'>
      <h3>Brittany Heller</h3>
      <%= image_tag("BrittanyHeller.jpg", class="circular-img") %>
      <h5>Software Developer</h5>
      <p class="yellow"><a href="https://www.linkedin.com/in/brittany-heller-b1402964/"><i class="fab fa-linkedin"></i></a></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p> -->
    </article>
    <article class='right align-center'>
      <h3>Zak Reeves</h3>
      <%= image_tag("ZakReeves.jpg", class="circular-img") %>
      <h5>Marketing and Sales Guru</h5>
      <p class="yellow"><a href="https://www.linkedin.com/in/zachary-reeves-177754a7/"><i class="fab fa-linkedin"></i></a></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et eleifend tortor. Vestibulum in porttitor nulla. Suspendisse ut quam quis mi vestibulum ultricies. Ut vel nulla lectus. Curabitur tincidunt nisl sit amet vulputate ullamcorper. Sed eget risus interdum, fermentum ante et, lobortis enim. Phasellus fermentum congue vehicula. Mauris aliquet ligula pretium risus venenatis laoreet. Nam cursus convallis convallis. Nunc elementum neque mollis, varius nisi in, pharetra erat. Maecenas iaculis interdum aliquam. Donec id enim eu orci vehicula mollis in vel metus. Vestibulum hendrerit pharetra quam</p> -->
    </article>

</section>
