<section>
  <h2>About Us</h2>
  <article>
  <p>Reaper Studios was founded in March 2017 by Brian Heller and Nathan Barr. Brian and Nathan had served together in the military previously, Brian in the Marine Corps and Nathan in the Navy, and deployed to Afghanistan in 2010 with the callsign
    “Reaper.”  After separating from the military, their love for video games helped them to keep in touch over the years. Feeling generally undervalued and unchallenged at their respective “day jobs,” Brian and Nathan decided to undertake a new adventure. This
    new adventure would include ties to the online and mobile gaming communities and challenge them to be their best for the benefit of the user. This entity would be titled Reaper Studios to embrace their past as they forge a path toward their future.</p>
  </article>
</section>
<section>

  <h2>Our Team</h2>
  <article class='col-3 left align-center aboutus'>
    <h3>Nathan Barr</h3>
    <a href="https://www.linkedin.com/in/nathan-barr-03a3634a/">
      <%= image_tag("NathanBarr.jpg", :class=> 'circular-img') %>
    </a>
    <h4>Co-Founder & CEO</h4>

  </article>
  <article class='center align-center aboutus'>
    <h3>Jesse Duncan</h3>
    <a href="https://www.linkedin.com/in/brian-heller-ab469892/">
      <%= image_tag("JesseDuncan.jpg", :class=> 'circular-img') %>
    </a>
    <h4>Co-Founder & COO</h4>
  </article>
  <article class='col-3 right align-center aboutus'>
  <h3>Brian Heller</h3>
    <a href="https://www.linkedin.com/in/brian-heller-ab469892/">
      <%= image_tag("BrianHeller.jpg", :class=> 'circular-img') %>
    </a>
    <h4>Co-Founder & CTO</h4>
  </article>
</section>
<section>
  <article class='col-2 left align-center aboutus'>
    <h3>Brittany Heller</h3>
    <a href="https://www.linkedin.com/in/brittany-heller-b1402964/">
      <%= image_tag("BrittanyHeller.jpg", :class=> 'circular-img') %>
    </a>
    <h4>Software Developer</h4>
  </article>
  <article class='col-2 right align-center aboutus'>
  <h3>Zak Reeves</h3>
  <a href="https://www.linkedin.com/in/zachary-reeves-177754a7/">
      <%= image_tag("ZakReeves.jpg", :class=> 'circular-img') %>
    </a>
      <h4>Marketing and Sales Guru</h4>
  </article>
</section>

</section>
