<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Krona+One' %>
    <%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <p class='skipnavigation'><a href="#contentstart">Skip Navigation</a></p>
    <div id='container'>
      <header>
        <nav id='nav' class='topnav'>
          <span>
            <%= image_tag('reaper_logo.png', :id=> 'header-logo') %>
          </span>
          <ul>
            <li id='mobileMenu'><a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", pages_about_path %></li>
            <li><%= link_to "Get a Quote", pages_contact_path %></li>
            <li><%= link_to "Services", pages_services_path %></li>
            <li><%= link_to "Portfolio", pages_portfolio_path %></li>
            <li><%= link_to "Contact Us", pages_contact_path %></li>
          </ul>
        </nav>
        <nav id='nav' class='topnav-full'>
            <ul class='float-left'>
              <li id='mobileMenu'><a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a></li>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", pages_about_path %></li>
              <li><%= link_to "Get a Quote", pages_contact_path %></li>
            </ul>
            <%= image_tag('reaper_logo.png', :id => 'header-logo-full') %>
            <ul class='float-right'>
              <li><%= link_to "Services", pages_services_path %></li>
              <li><%= link_to "Portfolio", pages_portfolio_path %></li>
              <li><%= link_to "Contact Us", pages_contact_path %></li>
            </ul>
        </nav>
      </header>
      <div id='body'>
        <%= yield %>
      </div>
      <footer>
        <p>This is the footer</p>
      </footer>
    </div>
  </body>
</html>
