<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Reaper Studios</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Krona+One' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      window.onscroll = function () {
        myFunction()
      };
      var x = 0;
      function myFunction()
      {
        if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 0)
        {
          x = document.documentElement.scrollTop;
          var imgHeight = 100;
          var imgWidth = 81;
          if(x > 120)
          {
            document.getElementById("nav").style.height = "50px";
            imgHeight = imgHeight/2;
            imgWidth = imgWidth/2;
            document.getElementById("header-logo").style.height = imgHeight + 'px';
            document.getElementById("header-logo").style.width = imgWidth + 'px';
          }
          else
          {
            if(100-x > 49)
            {
              document.getElementById("nav").style.height = 100 - x + 'px';
              document.getElementById("header-logo").style.height = 100 - x + 'px';
              document.getElementById("header-logo").style.width = 'auto';
            }
          }
        }
        else
        {
            x = document.documentElement.scrollTop;
            console.log(x);
            document.getElementById("nav").style.height = "100px";
            document.getElementById("header-logo").style.height = "100px";
            document.getElementById("header-logo").style.width = "81px";
        }
      }
    </script>
  </head>
  <body>
    <div id='container'>
      <header>
        <nav class='shadow wrap' id='nav'>
          <div class='left'>
            <ul class='float-right'>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", pages_about_path %></li>
              <li><a href='#'>Get a Quote</a></li>
            </ul>
          </div>
          <div class='center'>
            <%= image_tag('reaper_logo.png', id: 'header-logo', class: 'header-logo') %>
          </div>
          <div class='right'>
            <ul class='float-left'>
              <li><%= link_to "Services", root_path(:anchor => 'services') %></li>
              <li><%= link_to "Portfolio", pages_portfolio_path %></li>
              <li><%= link_to "Contact Us", pages_contact_path %></li>
            </ul>
          </div>
        </nav>
      </header>
      <div id='body'>
        <%= yield %>
      </div>
      <footer>
        <p>This is the footer</p>
      </footer>
    </div>
  </body>
</html>
